.margin {
    margin: 20px;
}

.spread-right-left {
    display: flex;
    justify-content: space-between;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    display: block;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    max-height: 20px;
}

input::placeholder {
    opacity: 0.5;
    font-style: italic;
}

.name {
    font-weight: bold;
    font-size: 20px;
    color: black;
    background-color: white;
    display: block;
    margin-block-start: 25px;
    margin-block-end:   25px;
    margin-inline-start: 0px;
    margin-inline-end: 20px;
    min-height: 20px;
    min-width: 200px;
}

.error { 
    border: 1px solid red; 
    background-color: pink
}