.margin {
    margin: 20px;
}

.spread-right-left {
    display: flex;
    justify-content: space-between;
}

button {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    max-height: 20px;
}

input::placeholder {
    opacity: 0.5;
    font-style: italic;
}